#background-video {
  margin: auto;
 

  width: 100vw;
  height: 100vh;
  padding-bottom: 0px;
  object-fit: cover;
  position: fixed;
  scale: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.border-top{
  border-top: 1px rgba(255, 255, 255, 0.495) solid;
}
